*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
}

#header{
    height: 13%;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

#logo{
    height: 70%;
}

#logo img{
    width: 100%;
    height: 100%;
    object-fit: cover ;
}

.class{
    color: rgb(25, 25, 132);
}

.class:hover{
    color: rgb(133, 78, 185);
}

#fakeHeader{
    height: 13%;
    width: 100%;
}

#contactDetails{
    font-weight: lighter;
}

.icon{
    padding: 10px;
    border-radius: 50%;
}

.icon:hover{
    background-color: lightblue;
}

#login{
    display: flex;
    padding: 10px;
    border-radius: 50px;
}

#login:hover{
    background-color: lightblue;
}

#try{
    background-color: rgb(5, 107, 5);
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}

#try:hover{
    background-color: rgb(4, 71, 4);
    
}

#page1{
    height: 87%;
    width: 100%;
    background-color: white;
}

#strip{
    width: 100%;
    height: 8%;
    color: white;
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#strip u{
    font-weight: lighter;
    margin-left: 30px;
}

#content{
    width: 100%;
    height: 76%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#box1{
    height: 95%;
    width: 48%;
    background-color: white;
}

#box2{
    height: 95%;
    width: 48%;
    background-color: white;
}

#box2 img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#heading{
    width: 100%;
    height: 16%;
    color: rgb(0, 0, 80);
    display: flex;
    justify-content: center;
    align-items: center;
}

#heading h1{
    font-weight: 600;
}

#box1 h1{
    font-weight: 600;
    color: rgb(0, 0, 80);
    font-size: 50px;
    margin: 30px 10px;
}

#box1 p{
    font-size: x-large;
    font-weight: lighter;
    margin: 30px 10px;
}

#btns{
    display: flex;
}

#btn1{
    text-align: center;
    margin: 15px;
    width: 23%;
    padding: 10px 20px;
    color: white;
    background-color: rgb(114, 178, 199);
    border-radius: 5px;
}

#btn1:hover{
   background-color: rgb(23, 63, 78);
}

#btn2{
    text-align: center;
    margin: 15px;
    width: 23%;
    padding: 10px 20px;
    color: rgb(53, 100, 115);
    border: 1px solid rgb(46, 83, 96);
    border-radius: 5px;
}

#btn2:hover{
   background-color: rgb(182, 226, 239);
   color: darkblue;
   border-color: darkblue;
}

#page2{
    height: 87%;
    width: 100%;
    background-color: darkgray;
}
